@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
    --bs-cube-2: cubic-bezier(0.1, 0.75, 0.25, 1);
}

body {
    overflow-x: hidden;
}

* {
    font-family: "DM sans";
}
h2 {
    font-family: "Albert Sans";
    font-weight: 800;
    font-size: 60px;
}
/* global css start here */
.btn-effect-1 {
    position: relative;
    display: inline-block;
    padding: 12px 40px;
    font-size: 16px;
    color: #000;
    border: 2px solid #000;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.btn-effect-1:hover {
    color: #ffbe00;
    border-color: #ffbe00;
}
.btn-effect-1 .corner {
    position: absolute;
    background: #ffbe00;
    width: 0;
    height: 4px;
    transition: all 0.3s ease;
    z-index: 0;
}

/* Top left */
.btn-effect-1 .corner.tl {
    top: 0;
    left: 0;
}

/* Top right */
.btn-effect-1 .corner.tr {
    top: 0;
    right: 0;
}

/* Bottom left */
.btn-effect-1 .corner.bl {
    bottom: 0;
    left: 0;
}

/* Bottom right */
.btn-effect-1 .corner.br {
    bottom: 0;
    right: 0;
}

.btn-effect-1:hover .corner {
    width: 50%;
}

.btn-effect-1:hover {
    color: #fff;
}

.btn-effect-1::before,
.btn-effect-1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    background: #ffbe00;
    z-index: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.btn-effect-1::before {
    top: 0;
}

.btn-effect-1::after {
    bottom: 0;
}

.btn-effect-1:hover::before,
.btn-effect-1:hover::after {
    transform: scaleY(1);
}

.btn-effect-1 span {
    position: relative;
    z-index: 2;
}
/* header starts here */
header#header {
    overflow-x: hidden;
    width: 100%;
}
header#header .logo-wrapper {
    background: #e3e5dd;
    height: 100%;
}
header#header .header-top-wrapper {
    padding: 0px 0px 0px 20px;
    background-color: #fff;
}
.header-top-wrapper .header-social-icons-wrapper ul li a {
    height: 44px;
    width: 50px;
    display: inline-flex;
    border-left: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.1, 0.75, 0.25, 1);
}
.header-top-wrapper .header-social-icons-wrapper ul li a:hover {
    background-color: #ffbe00;
    border-color: transparent;
}
header#header .main-header-wrapper {
    background: #363636;
}
header#header .main-header-wrapper .header-link-wrapper ul li a {
    color: #fff;
    font-size: 16px;
    padding: 28px 0;
    text-transform: capitalize;
    font-weight: 500;
}
/* header ends here */
/* list starts here */
section.list-sec {
    padding: 50px 0px;
}
.list-sec .list-card-wrapper .list-icon-wrapper {
    margin-bottom: 20px;
}
.list-sec .list-card-wrapper .list-heading-wrapper a {
    font-size: 25px;
    font-family: "Albert Sans";
    text-decoration: none;
    font-weight: 800;
    color: #000;
}
.list-sec .list-card-wrapper .list-heading-wrapper a:hover {
    color: #ffbe00;
}
/* list ends here */
/* about starts here */
.about-sec {
    padding: 50px 0px 100px 0px;
    background: url("../images/a4-illus-2.webp");
    background-repeat: no-repeat;
    background-position: center;
}
.about-heading-wrapper {
    border-bottom: 1px solid #d9d9d9;
}
.about-heading-wrapper h5 {
    font-size: 18px;
    font-family: "Albert Sans";
    text-transform: uppercase;
    font-weight: 600;
}
.about-content-wrapper h2 {
    font-weight: 600;
    font-size: 52px;
}
.about-paragraph-wrapper p.bold {
    font-size: 18px;
    line-height: 1.555;
    font-family: "DM Sans";
    font-weight: 700;
}
.about-paragraph-wrapper p {
    font-size: 18px;
    line-height: 1.555;
    font-family: "DM Sans";
}
.about-paragraph-wrapper {
    padding-left: 80px;
    padding-top: 21px;
}
.about-card-wrapper .about-icon-heading-wrapper a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Albert Sans";
    font-weight: 600;
    color: #000;
}
.about-card-wrapper .about-icon-heading-wrapper p {
    font-size: 17px;
    color: #363636;
}
.about-icon-wrapper span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background: #f5f5f5;
    color: #060606;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.about-icon-wrapper span::before {
    content: "";
    width: 65px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #060606;
    opacity: 24%;
}
.about-icon-wrapper span::after {
    content: "";
    width: 1px;
    height: 65px;
    position: absolute;
    right: -5px;
    top: 0;
    background: #060606;
    opacity: 24%;
}
/* about ends here */
/* break starts here */
.break-sec {
    position: relative;
}
.break-sec .break-heading-wrapper {
    position: absolute;
    bottom: 0px;
}
.break-sec .break-heading-wrapper span {
    font-size: 190px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 4px 4px 0px #6a6a6a;
}
.marquee-container {
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee {
    display: inline-block;
    padding: 2rem 0 0px 0px;
    animation: marquee 10s linear infinite;
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

.marquee-container:hover .marquee {
    animation-play-state: paused;
}

.marquee span {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    color: black;
    padding: 0 0.1em;
    position: relative;
}

.marquee span:hover {
    color: gold;
    transform: scale(1.2);
}

/* Special styling for highlighted "H" */
.highlight {
    color: gold;
    position: relative;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
/* break ends here */
/* availabel starts here */
.availabel-sec {
    padding: 4em 0em;
}
.availabel-sec .availabel-card-wrapper {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eeeeee;
    padding: 10px;
}
.availabel-sec .availabel-card-wrapper .availabel-card-heading-wrapper h5 {
    font-family: "Albert Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    color: #0e191e;
}
.availabel-sec .availabel-card-wrapper .availabel-card-heading-wrapper h6 {
    font-size: 16px;
    font-family: "Albert Sans";
}
.availabel-sec
    .availabel-card-wrapper
    .availabel-card-heading-wrapper
    .availabel-btn-wrapper
    a {
    font-family: "Albert Sans", Sans-serif;
    font-weight: 500;
    border-radius: 32px;
    color: #fff;
    padding: 7px 24px;
}
.availabel-sec
    .availabel-card-wrapper
    .availabel-card-heading-wrapper
    .availabel-btn-wrapper {
    padding-top: 14px;
}
/* availabel ends here */

/* diaspora-section Css  */
.diaspora-section {
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diaspora-content-wrapper {
    background: #3c3d40;
    padding: 100px 0px 100px 50px;
}

.diaspora-content-wrapper .about-heading-wrapper h5 {
    font-size: 16px;
    font-family: "Albert Sans";
    text-transform: uppercase;
    font-weight: 600;
}

.diaspora-content-wrapper .about-heading-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}

.diaspora-section .custom-controls .video_btn {
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    animation: pulse-animation 2s infinite;
    overflow: hidden;
    border: 1px solid #fff;
    text-decoration: none;
}

.diaspora-section .custom-controls .video_btn i {
    font-size: 40px;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgb(238, 203, 189, 0.9);
    }

    100% {
        box-shadow: 0 0 0 20px rgb(230, 42, 42, 0.1);
    }
}

.diaspora_li {
    background: rgba(6, 6, 6, 0.06);
    backdrop-filter: blur(20px);
    border: 1px solid transparent;
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
}

.diaspora_li .diaspora_icon figure img.img-fluid {
    max-width: 60px;
    filter: invert(1);
}

.diaspora_icon {
    background: #363636;
    max-width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    /* margin: auto; */
}

.diaspora_li:hover {
    border-color: #ffbe00;
}

/* diaspora-section Css  */

/* assembly-section Css  */

.assembly_content {
    background-image: linear-gradient(180deg, #ffbe00 0%, #f2295b00 100%);
    padding: 30px;
    border-radius: 10px;
}

.sub_heading {
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: 600;
    line-height: 1.7;
}

/* assembly-section Css  */

/* adventure-section Css  */

.yellow_heading {
    font-size: 34px;
    color: #ffbe00;
    font-family: "Albert Sans";
    font-weight: 700;
}

.sub_para {
    font-size: 18px;
    color: #7a7a7a;
}

.radius-10 {
    border-radius: 10px;
}

/* donation-section Css  */

.yellow_color {
    color: #ffbe00;
}

.donation_heading {
    font-size: 31px;
    font-family: "Albert Sans";
    color: #000;
}

.donation_sub {
    font-size: 24px;
    font-family: "Albert Sans";
    color: #000;
    font-weight: 600;
}

.donation_wrapper {
    border: 3px solid #000;
    border-radius: 2px;
    padding: 40px;
}

/* donation-section Css  */

/* blog-section Css  */

.blog-heading {
    flex: 0 0 50%;
}

.blog_wrapper:hover img.img-fluid {
    filter: grayscale(0);
    transform: perspective(2000px) rotateX(0.1deg) rotateY(0deg) scaleX(1.1)
        scaleY(1.1);
}

.blog_wrapper img.img-fluid {
    height: 500px;
    filter: grayscale(1);
    transition: transform 500ms;
    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1) scaleY(1);
    transform-origin: center center;
}

.blog_wrapper .blog_img figure {
    overflow: hidden;
}

.blog_sub {
    font-size: 16px;
    font-family: "Albert Sans";
    font-weight: 600;
}

.blog_heading {
    font-size: 28px;
    font-family: "Albert Sans";
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.cat-link {
    padding-right: 12px;
    position: relative;
    z-index: 1;
    color: #000;
    font-weight: 500;
    font-family: "Albert Sans";
    text-decoration: none;
}

.blog_content .categories::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 11px;
    right: 0;
}

.blog_content .date {
    color: #363636;
    font-family: "Albert Sans";
}

.blog_content .blog_date_wrapper {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 12px 0;
    margin-top: 15px;
}

.blog_sub::after {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #000;
}

.blog-arrow-wrap {
    background: #f5f5f5;
    color: #000;
    max-width: 70px;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    right: 40px;
    width: 100%;
}

.blog_anchor {
    color: #000;
}

.blog_wrapper:hover .blog-arrow-wrap {
    background: #ffbe00;
}

.blog_wrapper:hover .blog_anchor {
    color: #fff;
}

/* contact-section Css  */

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    font-family: "Albert Sans";
    text-transform: uppercase;
    font-weight: 500;
}

.form-control {
    font-size: 16px;
    font-family: 'Albert Sans';
    color: #D9D9D9;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #D9D9D9;
    border-radius: 0;
    padding: 10px 0px;
}

.contact_form {
    background: #F7F6F1;
    padding: 68px 60px;
    margin-top: 180px;
}

.contact_main {
    margin-top: -19rem;
}
/* contact-section Css  */

/* fooer starts here */
footer {
    background: #060606;
    padding-top: 130px;
}
footer .footer-bg {
    background-image: url("../images/footer-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer .footer-links-wrapper li.footer-link a {
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.footer-logo-wrapper img {
    background: #fff;
    margin-bottom: 50px;
}
.footer-newsletter-wrapper .footer-heading-wrapper h2 {
    font-size: 60px;
    font-family: "Albert Sans";
}
footer .footer-email-label-wrapper h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "DM Sans";
}
.footer-email-link-wrapper a {
    font-size: 24px;
    color: #888888;
    border-bottom: 1px solid #888888;
    line-height: 2;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 0.4s cubic-bezier(0.1, 0.75, 0.25, 1);
    text-decoration: none;
    width: 100%;
    display: block;
}
.footer-email-link-wrapper a:hover {
    color: #ffbe00;
}
footer .footer-links-wrapper li.footer-link {
    margin-bottom: 15px;
}
footer .footer-links-wrapper ul {
    column-count: 2;
}
.footer-row-wrapper {
    margin-bottom: 100px;
}
#copyright {
    padding: 28px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}
#copyright p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.64);
}
#copyright p a {
    color: #ffbe00;
}
/* footer ends here */
