@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
    --bs-cube-2: cubic-bezier(0.1, 0.75, 0.25, 1);
}
* {
    font-family: "DM sans";
}
h2 {
    font-family: "Albert Sans";
    font-weight: 800;
    font-size: 60px;
}
/* global css start here */
.btn-effect-1 {
    position: relative;
    display: inline-block;
    padding: 12px 40px;
    font-size: 16px;
    color: #000;
    border: 2px solid #000;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.btn-effect-1:hover {
    color: #ffbe00;
    border-color: #ffbe00;
}
.btn-effect-1 .corner {
    position: absolute;
    background: #ffbe00;
    width: 0;
    height: 4px;
    transition: all 0.3s ease;
    z-index: 0;
}

/* Top left */
.btn-effect-1 .corner.tl {
    top: 0;
    left: 0;
}

/* Top right */
.btn-effect-1 .corner.tr {
    top: 0;
    right: 0;
}

/* Bottom left */
.btn-effect-1 .corner.bl {
    bottom: 0;
    left: 0;
}

/* Bottom right */
.btn-effect-1 .corner.br {
    bottom: 0;
    right: 0;
}

.btn-effect-1:hover .corner {
    width: 50%;
}

.btn-effect-1:hover {
    color: #fff;
}

.btn-effect-1::before,
.btn-effect-1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    background: #ffbe00;
    z-index: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.btn-effect-1::before {
    top: 0;
}

.btn-effect-1::after {
    bottom: 0;
}

.btn-effect-1:hover::before,
.btn-effect-1:hover::after {
    transform: scaleY(1);
}

.btn-effect-1 span {
    position: relative;
    z-index: 2;
}
/* header starts here */
header#header {
    overflow-x: hidden;
    width: 100%;
}
header#header .logo-wrapper {
    background: #e3e5dd;
    height: 100%;
}
header#header .header-top-wrapper {
    padding: 0px 0px 0px 20px;
    background-color: #fff;
}
.header-top-wrapper .header-social-icons-wrapper ul li a {
    height: 44px;
    width: 50px;
    display: inline-flex;
    border-left: 1px solid #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.1, 0.75, 0.25, 1);
}
.header-top-wrapper .header-social-icons-wrapper ul li a:hover {
    background-color: #ffbe00;
    border-color: transparent;
}
header#header .main-header-wrapper {
    background: #363636;
}
header#header .main-header-wrapper .header-link-wrapper ul li a {
    color: #fff;
    font-size: 16px;
    padding: 28px 0;
    text-transform: capitalize;
    font-weight: 500;
}
/* header ends here */
/* list starts here */
section.list-sec {
    padding: 50px 0px;
}
.list-sec .list-card-wrapper .list-icon-wrapper {
    margin-bottom: 20px;
}
.list-sec .list-card-wrapper .list-heading-wrapper a {
    font-size: 25px;
    font-family: "Albert Sans";
    text-decoration: none;
    font-weight: 800;
    color: #000;
}
.list-sec .list-card-wrapper .list-heading-wrapper a:hover {
    color: #ffbe00;
}
/* list ends here */
/* about starts here */
.about-sec {
    padding: 50px 0px 100px 0px;
    background: url("../images/a4-illus-2.webp");
    background-repeat: no-repeat;
    background-position: center;
}
.about-sec .about-heading-wrapper {
    border-bottom: 1px solid #d9d9d9;
}
.about-sec .about-heading-wrapper h5 {
    font-size: 18px;
    font-family: "Albert Sans";
    text-transform: uppercase;
    font-weight: 600;
}
.about-content-wrapper h2 {
    font-weight: 600;
    font-size: 52px;
}
.about-paragraph-wrapper p.bold {
    font-size: 18px;
    line-height: 1.555;
    font-family: "DM Sans";
    font-weight: 700;
}
.about-paragraph-wrapper p {
    font-size: 18px;
    line-height: 1.555;
    font-family: "DM Sans";
}
.about-paragraph-wrapper {
    padding-left: 80px;
    padding-top: 21px;
}
.about-card-wrapper .about-icon-heading-wrapper a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Albert Sans";
    font-weight: 600;
    color: #000;
}
.about-card-wrapper .about-icon-heading-wrapper p {
    font-size: 17px;
    color: #363636;
}
.about-icon-wrapper span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background: #f5f5f5;
    color: #060606;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.about-icon-wrapper span::before {
    content: "";
    width: 65px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #060606;
    opacity: 24%;
}
.about-icon-wrapper span::after {
    content: "";
    width: 1px;
    height: 65px;
    position: absolute;
    right: -5px;
    top: 0;
    background: #060606;
    opacity: 24%;
}
/* about ends here */
/* break starts here */
.break-sec {
    position: relative;
}
.break-sec .break-heading-wrapper {
    position: absolute;
    bottom: 0px;
}
.break-sec .break-heading-wrapper span {
    font-size: 190px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 4px 4px 0px #6a6a6a;
}
.marquee-container {
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.marquee {
    display: inline-block;
    padding: 2rem 0 0px 0px;
    animation: marquee 10s linear infinite;
    font-size: 5rem;
    color: black;
    font-weight: bold;
}

.marquee-container:hover .marquee {
    animation-play-state: paused;
}

.marquee span {
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    color: black;
    padding: 0 0.1em;
    position: relative;
}

.marquee span:hover {
    color: gold;
    transform: scale(1.2);
}

/* Special styling for highlighted "H" */
.highlight {
    color: gold;
    position: relative;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
/* break ends here */
/* availabel starts here */
.availabel-sec {
    padding: 4em 0em;
}
.availabel-sec .availabel-card-wrapper {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eeeeee;
    padding: 10px;
}
.availabel-sec .availabel-card-wrapper .availabel-card-heading-wrapper h5 {
    font-family: "Albert Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    color: #0e191e;
}
.availabel-sec .availabel-card-wrapper .availabel-card-heading-wrapper h6 {
    font-size: 16px;
    font-family: "Albert Sans";
}
.availabel-sec
    .availabel-card-wrapper
    .availabel-card-heading-wrapper
    .availabel-btn-wrapper
    a {
    font-family: "Albert Sans", Sans-serif;
    font-weight: 500;
    border-radius: 32px;
    color: #fff;
    padding: 7px 24px;
}
.availabel-sec
    .availabel-card-wrapper
    .availabel-card-heading-wrapper
    .availabel-btn-wrapper {
    padding-top: 14px;
}
/* availabel ends here */
/* fooer starts here */
footer {
    background: #060606;
    padding-top: 130px;
}
footer .footer-bg {
    background-image: url("../images/footer-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer .footer-links-wrapper li.footer-link a {
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.footer-logo-wrapper img {
    background: #fff;
    margin-bottom: 50px;
}
.footer-newsletter-wrapper .footer-heading-wrapper h2 {
    font-size: 60px;
    font-family: "Albert Sans";
}
footer .footer-email-label-wrapper h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "DM Sans";
}
.footer-email-link-wrapper a {
    font-size: 24px;
    color: #888888;
    border-bottom: 1px solid #888888;
    line-height: 2;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: 0.4s cubic-bezier(0.1, 0.75, 0.25, 1);
    text-decoration: none;
    width: 100%;
    display: block;
}
.footer-email-link-wrapper a:hover {
    color: #ffbe00;
}
footer .footer-links-wrapper li.footer-link {
    margin-bottom: 15px;
}
footer .footer-links-wrapper ul {
    column-count: 2;
}
.footer-row-wrapper {
    margin-bottom: 100px;
}
#copyright {
    padding: 28px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}
#copyright p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.64);
}
#copyright p a {
    color: #ffbe00;
}
/* footer ends here */
